
#Remote Supabase URL and keys
#SUPABASE_URL=https://bgapxavsprsvdrzdracz.supabase.co
#SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnYXB4YXZzcHJzdmRyemRyYWN6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyMDc4MjU2MiwiZXhwIjoyMDM2MzU4NTYyfQ.K7PA3yNjzsPfTAu7SsYx0m4yIUashMcELtbm6XbEXlA


#Local Supabase URL and keys
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_KEY=your-generated-key


#Supabase Local URL and keys
#API URL: http://127.0.0.1:54321
#GraphQL URL: http://127.0.0.1:54321/graphql/v1
#S3 Storage URL: http://127.0.0.1:54321/storage/v1/s3
#DB URL: postgresql://postgres:postgres@127.0.0.1:54322/postgres
#Studio URL: http://127.0.0.1:54323
#Inbucket URL: http://127.0.0.1:54324
#JWT secret: super-secret-jwt-token-with-at-least-32-characters-long
#anon key: your-generated-key
#service_role key: your-generated-key
#S3 Access Key: your-generated-key
#S3 Secret Key: your-generated-key
#S3 Region: local